{
    "semi": false,
    "singleQuote": true,
    "overrides": [
        {
            "files": "**/*.ts",
            "options": {
                "tabWidth": 4
            }
        }
    ]
}