.class-table {
  width: 100%;
  height: 20%;
  color: black;
  font-weight: bold;
  font-size: 1vw;
}

tr.class td {
  padding: 6px;
}

.class p {
  margin: 0;
}

.teacher-email {
  font-weight: normal;
  color: #222;
}

/* @media screen and (max-width: 600px) {
  .class-table {
    font-size: 10px;
  }
}

@media screen and (max-width: 321px) {
  .class-table {
    font-size: 8px;
  }
} */
