/* General styles for the schedule component */
.schedule-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  margin-bottom: 30px;
}

textarea {
  margin-bottom: 20px;
  font-family: monospace;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

/* Main table styles */
.main-container {
  border-collapse: collapse;
  width: 100%;
  max-width: 1200px;
  text-align: center;
}

.main-container td {
  border: 1px solid #ccc;
  padding: 10px;
}

.main-container th.weekday-header {
  min-width: 3vw;
  background-color: #f8f9fa;
  font-weight: bold;
  font-size: 2vw;
  color: #222;
}

.main-container td.empty {
  background-color: #f5f5f5;
}

.main-container th.empty {
  background-color: transparent;
  border: none;
}

/* Time column styles */
td.time {
  background-color: #f8f9fa;
  padding: 2px;
  vertical-align: top;
}

/* FIXME: offset breaks at low screen width */
.time label {
  font-weight: bold;
  font-size: 1.5vw;
  /* line-height: 1; */
  position: relative;
  top: -1vw;
}

.timeAM {
  color: #026;
}

.timePM {
  color: #602;
}

/* Cell types */
td.cell,
th.cell,
th.weekday-header {
  padding: 0px;
  > p {
    margin: 0;
    line-height: 1;
  }
}

.class-cell {
  background-color: #eaf5ff;
  color: #000000;
  font-weight: bold;
}

.class-cell .class-text {
  /* font-size: 14px; */
  margin: 0;
}

.class-cell .class-code {
  /* font-size: 14px; */
  font-weight: normal;
  color: #444;
}

/* .class-cell .class-text {
  font-size: 12px;
} */

.bar-cell {
  background-color: #fff3cd;
  color: #856404;
  font-weight: bold;
  font-size: 14px;
}

.bar-cell .bar-text {
  font-size: 12px;
}

.empty-cell {
  background-color: #f5f5f5;
}

.empty-cell .empty-dot {
  color: #ccc;
}

/* Header row styles */
thead .border-bottom th {
  border-bottom: 2px solid #333;
  height: 3vw;
}

/* Responsive styling */
/* deprecated in favor of scaling relative to vw */

/* @media (max-width: 768px) {
  textarea {
    width: 100%;
    font-size: 12px;
  }

  .main-container th,
  .main-container td {
    padding: 5px;
  }

  .class-cell .class-code,
  .bar-cell .bar-text {
    font-size: 12px;
  }

  .class-cell .class-text {
    font-size: 10px;
  }
}

@media screen and (max-width: 600px) {
  .class-code p,
  .weekday-header p,
  .main-container {
    font-size: 10px;
  }
}

@media screen and (max-width: 321px) {
  .class-code p,
  .weekday-header p,
  .main-container {
    font-size: 8px;
  }
} */
