/* General styles for the schedule component */
.schedule-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  margin-bottom: 30px;
}

/* Main table styles */
.main-container {
  border-collapse: collapse;
  width: 100%;
  max-width: 1200px;
  text-align: center;
  border: 2px solid #333;
}

.main-container td {
  border: 1px solid #ccc;
  padding: 10px;
}

.main-container th.weekday-header {
  min-width: 3vw;
  background-color: #f8f9fa;
  font-weight: bold;
  font-size: 2vw;
  color: #222;
  border: 2px solid #333;
}

.main-container td.empty {
  background-color: #f5f5f5;
}

.main-container th.empty {
  background-color: transparent;
  border: none;
}

/* Noon row styles */
tr.noon td {
  border-top: 2px solid #333;
}

tr.noon .time label {
  border: 1px solid #222;
  top: -0.85vw;
}

/* Time column styles */
td.time {
  background-color: #f8f9fa;
  padding: 2px;
  vertical-align: top;
  border-right: 2px solid #333;
}

/* FIXME: offset breaks at low screen width */
.time label {
  background-color: #fed;
  padding: 2px 6px;
  font-weight: bold;
  position: relative;

  border: 1px solid #aaa;
  border-radius: 5px;
  font-size: 1vw;
  top: -0.75vw;
}

.timeAM {
  color: #824;
}
.noon .timePM {
  color: #a60;
}
.timePM {
  color: #248;
}

/* Cell types */
td.cell,
th.cell,
th.weekday-header {
  padding: 0px;
}

.weekday-header p {
  margin: 4px;
}

.cell p {
  margin: 0;
}

.class-cell {
  background-color: #eaf5ff;
  color: #000000;
  font-weight: bold;
  /* border-radius: 10px; */
}

.class-cell .class-text {
  margin: 0;
}

.class-cell .class-code {
  font-weight: normal;
  color: #333;
}

/* .class-cell .class-text {
  font-size: 12px;
} */

/* .bar-cell {
  background-color: #fff3cd;
  color: #856404;
  font-weight: bold;
  font-size: 14px;
}

.bar-cell .bar-text {
  font-size: 12px;
} */

.empty-cell {
  background-color: #f5f5f5;
}

.empty-cell .empty-dot {
  color: #ccc;
}

/* Header row styles */
thead .border-bottom th {
  border-bottom: 2px solid #333;
  height: 3vw;
}

/* Responsive styling */
/* deprecated in favor of scaling relative to vw */

/* @media (max-width: 768px) {
  textarea {
    width: 100%;
    font-size: 12px;
  }

  .main-container th,
  .main-container td {
    padding: 5px;
  }

  .class-cell .class-code,
  .bar-cell .bar-text {
    font-size: 12px;
  }

  .class-cell .class-text {
    font-size: 10px;
  }
}

@media screen and (max-width: 600px) {
  .class-code p,
  .weekday-header p,
  .main-container {
    font-size: 10px;
  }
}

@media screen and (max-width: 321px) {
  .class-code p,
  .weekday-header p,
  .main-container {
    font-size: 8px;
  }
} */
